<div>
  <%= form_with(model: note, local: true) do |form| %>

    <div class="field title-priority">

      <div class="field field-titulo">
        <%= form.text_field :title, placeholder: "Titulo"%>
      </div>

      <div class="field field-priority">
        <%= form.select :priority, Note::PRIORITIES %>
      </div>

    </div>

    <div class="field field-content">
      <%= form.text_area :content, placeholder: "..." %>
    </div>

    <div class="actions field-submit">
      <%= form.submit %>
    </div>

    <% if note.errors.any? %>
      <div id="error_explanation" class="note-errors">
        <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
