<div class="index-container">
  <span id="notice"><%= notice %></span>
  <header class="header">
    <h1>Minhas Notas</h1>
  </header>

  <div>
    <%= form_tag(notes_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa por titulo...', class: 'index-search-bar' %>
      <%= submit_tag "Buscar", class: 'index-search-bar-btn' %>
    <% end %>
  </div>

  <table class="index-table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Conteudo</th>
        <th>Criado ha</th>
        <th>Prioridade</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= link_to note.title, note %></td>
          <td><%= note.content %></td>
          <td><%= time_ago_in_words(note.created_at) %></td>
          <td><%= note.priority %></td>
          <td><%= link_to 'Editar', edit_note_path(note) %></td>
          <td><%= link_to 'Deletar', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '+', new_note_path, class: 'index-add-note-btn' %>
</div>
